@media only screen and (min-width: 40em) {
    h1 {
        font-size: 1.7rem;
    }

    header {
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr auto auto;
        /*margin-bottom: 10px;*/
        align-items: center;
        background-color: var(--heading-background-color1);

    }
    header span {
        font-weight: 900;
        font-size: 2rem;
        font-style: italic;
    }

    .navigation {
        display: flex;
        gap: 2rem;
        justify-content: space-around;
        padding: 1rem 2rem 0 2rem;
    }

    .logo-icon::before {
        width: 90px;
        height: 90px;
    }

    .navigation li {
        display: inline-block;

    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }
   
    .grid-view#members-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: .5rem;
        width: 100%;
    }
    
    .grid-view .members-cards {
        margin: 1rem;
        padding: 4rem;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* LIST VIEW STYLING */
    .list-view {
        display: flex;
        flex-direction: column;
        margin: 0;
      
    }

    .list-view .members-cards {
      
        background-color: #f9f9f9;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: start;
        padding: 1rem;
         
    }

    .list-view .members-cards:nth-child(even) {
        background-color: #f0fafa;
    }

    .list-view .member-image {
        display: none;
    }

    .list-view .members-cards:nth-child(even) {
       background-color: #f0fafa;
    }

    .list-view .info-row {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
        align-items: center;
        font-size: small;
    }

   
    .list-view .info-row>div {
       flex: 1 1 150px;
       min-width: 0;
       word-break: break-word;
     }
    .list-view .info-name {
      font-weight: 900;
      font-size: small;
    }
      
    main {
        grid-area: main;
        display: block;
        width: 100%;
        background: white;
        margin: 0;
        padding: 0;
    }

  
    .contact p{
        padding: 0;
    }
   
    .sociallinks img {
        width: 80px;
        height: 80px;
    }

    footer {
      grid-area: footer;
      background-color: var(--heading-background-color1);
      height: 100%;
      margin: 0;
      width: 100%;
      color: var(--text1);
      font-size: 1.5rem;
      font-size: 1rem;
  }
  .contact{
    text-indent: 3rem;
  }
  .footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

  }
  .sociallinks{
    padding: 4rem 0;
  }
  .copyright{
   padding: 3rem 0 0 0;
  }

  .current-weather {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 2rem;
  }
  #spotlights-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
      justify-content: center;
      margin: 1rem;
      font-size: small;
  }
  .updates {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

  }
  .cta-link{
    font-size: 1.5rem;
    bottom: 10%;
    left: 85%;
  }

 .form-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 5rem;
    padding: 2rem;
 }
 .card2 p, .cta-link {
  
     font-size: 1rem;
 }

 .wf1 input[type="submit"] {
    
     margin: 1rem 2% 2rem 2%;
     
 }
 .membership-cards {
     padding: 2rem;
     max-width: 1200px;
     margin: auto;
 }
 .membership-choice {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 1rem;
     margin-top: .5rem;
     margin: 0 0 0 -4rem;
 }
}