:root {
    --text: rgb(255, 242, 232);
    --text1:rgb(0, 0, 0);
    --heading-background-color:rgb(19, 66, 66);
    --heading-background-color1:rgb(250, 205, 153);
    --heading-background-color2:rgb(176, 202, 202);
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}
body {
    font-family: "Poppins", Arial ,sans-serif;
}
.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

main {
    grid-area: main;
    width: 100%;
    max-width: none;
    margin: 0;
}

header {
    grid-area: header;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--heading-background-color1);
    color: var(--text1);
    
}

h1 {
    font-weight:900;
    font-size: 1.5rem;
    font-style: italic;
}

.logo {
    display: flex;
    gap: 20px;
}

.logo-icon::before {
    content: "";
    display: inline-block;
    width: 78px;
    height: 78px;
    background: url("../images/logo1.svg");
    background-size: contain;

}

#menu {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 3rem;
    text-decoration: none;
    padding: 0 2rem;
    background-color: var(--heading-background-color1);
    color: var(--text1);

}

#menu::before {
    content: "≡";

}

.active::before {
    content: "📍";
    /* just a wayfinding symbol for the user */
}
nav a {
    list-style: none;
    margin: 0 auto;
    max-width: 1460px;
    text-align: center;
    text-decoration: none;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0 0 0.5rem 0;
    text-align: left;
    text-decoration: none;
    color: var(--text1);
    transition: 0.5s;
    font-size: 1.5rem;
}

.navigation a:hover,
button:hover {
    color: tomato;
    cursor: pointer;
}

.navigation.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}
 
.hero {
    width: 100%;
    margin: 0 .8rem;

}

.banner {
    width: 100%;
    height: auto;
    margin: 0 -.8rem;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0;
}


h2 {
    text-align: center;
}

#members-cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    text-align: center;
    font-size: 1rem;

}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
   
}
  .list-view {
      display: flex;
      flex-direction: column;
      margin: 0;

  }
 .list-view .info-row {
     display: flex;
     flex: 1;


 }
  .list-view .members-cards {

      background-color: #f9f9f9;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      text-align: start;
      padding: 1rem;

  }
/* List view overrides the grid layout */
.list-view .member-image {
    display: none;
}

.grid-view .members-cards {
    margin: 1rem;
    padding: 2rem;

}
.grid-view .info-name{
    font-weight: 900;
    font-size: x-large;
}
.list-view .info-name {
    font-weight: 900;
    font-size: smaller;
}
.grid-view section>div {
    min-height: 60px;
    font-size: small;
    text-align: center;
}
 .list-view .members-cards:nth-child(odd) {
     background-color: #e5e9e9;

 }
.list-view .members-cards:nth-child(even) {
     background-color: white;
 }

 .info-row>div {
     flex: 1 1 200px;

 }

.list-view section>div {
    min-height: 60px;
    font-size: 9px;
    text-align: start;
}

footer {
    grid-area: footer;
    background-color: var(--heading-background-color1);
    height: 100%;
    margin:0;
    width: 100%;
    color: var(--text1);
    text-indent: 1rem;
    font-size: 1rem;
}

.sociallinks{
    margin-inline-start: 3rem;
}
.sociallinks img{
    align-items: center;
    width: 80px;
    height: 80px;  
    padding: 1rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
  }
.title{
    font-weight: bold;
}
