
@media only screen and (min-width: 40em) {
    h1 {
        font-size: 2.5rem;
    }
    .header {
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        background-color: var(--heading-background-color);

    }
    .navigation {
        display: flex;
        gap: 2rem;
        justify-content: space-around;   
    }

    .profile{
        
        font-size: 2rem;
        
    }
    .navigation li {
        display: inline-block;
       
    }

    .navigation a {
        text-align: center;
    }
   
    #menu {
        display: none;
    }
    .student-card img{
        width: 400px;
        height: auto;
        margin: 1rem;
    }

    .mainfolder, .subfolder {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content: center;
    }   

    #maincontainers {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding:0; 
        gap: 1rem;

    }
    
    .mainfolder button, .subfolder button{
        width: 20rem;
        height: 4rem;
        /*gap: 2rem;*/
        margin: 2rem 0;
        border-radius: 0.8rem;
        font-weight: 600;
        font-size: 1.3rem;

    }
    
    .containerb{
        margin: 0;
        padding: 0;
    }
    main {
        grid-area: main;
        display: block;
        width: 100%;
        background: white;
        margin: 0;   
        padding: 0;
    }

    .mainfolder button{
        background-color:var(--heading-background-color);
        color: var(--text2);
    }
    .subfolder button{
        
        background-color: var(--boarder-color);
        color: var(--text);  
    }
    button.completed {
        background-color: #8368cc;
        color: var(--text);
        font-weight: bold;
        border: 2px solid #171a17;
    }

    #total-credits-display{
        text-align: center;
    }
    .container4 nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-content:center;
    }
    
    .container4 img {
        width: 90px;
        margin: 0 1rem;   
    }
}
